.ui-notific-mes {
    position: absolute;
    background-color: #f00;
    border-radius: 13px;
    height: 20px;
    width: 20px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    box-shadow: $color-shadow;
}