.pg-account-data {
    &__avatar-block {
        margin-top: 36px;
    }
    &__avatar {
        height: 70px;
        width: 70px;
        line-height: 64px !important;
    }
    &__avatar-linck {
        color: $color-text !important;
        font-size: 20px;
        top: 16px;
        left: 86px;
    }
    &__avatar-title {
        color: $color-description !important;
        font-size: 18px;
        top: 42px;
        left: 86px;
    }
    &__avatar-button {
        top: 54px;
        float: right;
        position: absolute;
        right: 12px;
        left: auto;
    }
    &__td_left {
        text-align: left;
        border-bottom: none;
    }
    &__td_right {
        text-align: right;
        border-bottom: none;
    }
    &__favatar {
        height: 250px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        border: 5px solid #419ecc;
    }
    &__favatar-block {
        overflow: hidden;
        height: auto;
        width: 100%;
        text-align: center;
    }
}