.pg-ads {
    &__button-show-form-add {
        position: fixed;
        bottom: 20px;
        left: auto !important;
        right: 8px !important;
        z-index: 21;
        transition-property: bottom;
        transition-duration: 500ms;
        &_bottom {
            transition-property: bottom;
            transition-duration: 500ms;
            bottom: 0px;
        }
    }
    &__button-show-filter-add {
        position: fixed;
        bottom: 60px;
        left: auto !important;
        right: 0px !important;
        z-index: 2;
    }
    &__button-add {
        margin: 31px 0 0 21px;
    }
}