.pg-ads {
  &__button-show-form-add {
    position: fixed;
    bottom: 0;
    left: auto !important;
    right: 0px !important;
    z-index: 2;
  }
  &__button-show-filter-add {
    position: fixed;
    bottom: 60px;
    left: auto !important;
    right: 0px !important;
    z-index: 2;
  }
  &__button-add {
    margin: 31px 0 0 21px;
  }
}
